
/* theme */
:root {
  --primary: rgb(255, 145, 0);
  --primary_dark: rgb(160, 90, 0);

  --secondary: rgb(0, 2, 83);
  --secondary_dark: rgb(2, 98, 98);

  --card-bg: #1d2021ad;
}

body {
  font-family: monospace;
  background: linear-gradient(45deg, var(--secondary)  0%, var(--secondary_dark) 100%);
}

textarea {
  resize: none;
}

.split {
  height: 85%;
  width: 43%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  overflow-x: hidden;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 1.3em;
  border-color: var(--primary_dark);
  border-style: solid;
  border-width: 2px;
}

.topbar{
  width: 100%;
  height: 35px;
  z-index: 1;
  top: 0px;
  right: 0;
  position: fixed;
  background-color: var(--card-bg);
  color: rgb(231, 231, 231);
  font-size: 1.3em;
  border-color: var(--primary_dark);
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left {
  left: 0;
  background-color: var(--card-bg);
  color: rgb(231, 231, 231);
}

.right {
  right: 0;
  background-color: var(--card-bg);
  color: rgb(231, 231, 231);
}

.error{
  color: rgb(255, 0, 0);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.fab {
    background-color: rgb(255, 145, 0);
    border-radius: 50%;
    padding: 16px;
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    z-index: 2;
}

@media screen and (max-width: 55rem) {
  .desktop_only {
    width: 0px; 
    height: 0px; 
    visibility: hidden;
  }

  .topbar{
    font-size: 1em;
  }

  .split{
    height: 35%;
    width: 80%;
    font-size: 1em;
  }

  .centered{
    transform: translate(-50%, -20%);
  }

  .right{
    right: auto;
    bottom: 0px;
  }

  .left{
    left: auto;
    top: 35px;
  }
}